body {
    background-color: #7690a0;
    margin: 0;
    padding: 0; 
}
.container {
    height: 680px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}    
.div_one {
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px 0;
    margin-right: 10px; 
    background-color: #c7c7c7;
}
.div_two {
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px 0;
    margin-left: 10px;
    background-color: #c7c7c7;
}
.timerDiv {
    width: 20px;
    height: 400px;
    margin: auto;
    position: relative;
    background: #e8e803;
    border: 3px solid black;
    border-radius: 3px;
    overflow: hidden;
}
#animate {
  width: 20px;
  height: 400px;
  position: absolute;
  background: #d83c3c;  
}
#tajmerBtn {
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 4px;
    background: #ddde98;
    outline: none;
    font-weight: 600;
    margin-bottom: 25px;
    font-family: myFirstFont;
    font-weight: 600;
}
#tajmerBtn:hover {    
    background: #5b69bb;
    cursor: pointer;
    color: #fff;
}
.container1 {
    height: 300px;
    margin-top: 40px;
    display: flex;
    justify-content: center; 
}
.final { 
    width: 35%;
    height: 250px;    
    margin-right: 30px;
}
.newGame {
    height: 100px;
    width: 200px;    
    float: right;
}
#new {
    width: 130px;
    height: 50px;
    background: #ddde98;
    border: 2px solid #000;
    outline: none;
    margin-top: 30px;    
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;   
    font-family: myFirstFont;
}
#new:hover {
    background: #5b69bb;
    cursor: pointer;
    color: #fff;
}
.possibilities {
    width: 35%;
    height: 150px;    
}
.one, .two, .three {
    width: 100px;
    height: 100px;
    border: 1px solid black;    
}
.one {
    background-color: #dedede;
    z-index: 1;
}
.two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7db7b4;
}
.pos0 {
    background: url(../images/jocker.png) no-repeat center;
    background-size: contain;     
}
.pos1 {
    background: url(../images/tref.png) no-repeat center;
    background-size: contain;
}
.pos2 {
    background: url(../images/pik.png) no-repeat center;
    background-size: contain;
}
.pos3 {
    background: url(../images/herc.png) no-repeat center;
    background-size: contain;
}
.pos4 {
    background: url(../images/karo.png) no-repeat center;
    background-size: contain;
}
.pos5 {
    background: url(../images/star.png) no-repeat center;
    background-size: 85%;
}
.pos0, .pos1, .pos2, .pos3, .pos4, .pos5 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer; 
    background-color: #dedede;      
}
.rowClick, .row, .row1, .row2, .row3, .row4, .row5, .row6 {
    display: flex;
    justify-content: center;   
}
.rowClick {
    border: 1px solid black;
}
.neutral, .true, .maybe, .false {
    width: 55px;
    height: 55px;
    border: 3px solid black;    
    border-radius: 50%;
}
.neutral, .false {
    background-color: #000;    
}
.true {
    background-color: rgb(231, 34, 34); 
}
.maybe {
    background-color: rgb(255, 243, 77); 
}
#hidden {
    visibility: hidden;  
}
.wrap {
    border: 2px solid black;
    border-right: none;
    background-color: #dedede;
}
.wrap:last-child {
    border-right: 2px solid black;
} 
@media screen and (min-width: 1700px) {
    .rowClick {
        width: 612px;
        height: 102px;
    }
}
@font-face {
  font-family: myFirstFont;
  src: url(../font/DEVROYUN.ttf);
}