    * {
        margin: 0;
        padding: 0;
    }
    .Main {
        height: 900px;
        width: 100%;           
        background: url(../images/war.jpg) no-repeat center;
        background-size: cover;
    }
    .MainWrap {
        background-color: rgba(18, 1, 41, 0.65); 
        height: 100%;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        padding-top: 150px;
    }
    .redPlayer, .bluePlayer {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center; 
        align-content: center;
        flex-flow: column wrap;
    }       
    .redPlayer {
        background-color: #981e1ede;
        border-radius: 5px;
    }
    .bluePlayer {
        background-color: #384ba2e0;
        border-radius: 4px;
    }
    #borba {
        width: 160px;
        height: 40px;
        font-size: 25px;
        font-family: myFont;
        color: #fff;
        background-color: #3196a7;
        border: 2px solid rgb(5, 36, 32);
        border-radius: 4px;
        margin: 5px;           
        outline: none;
    }
    #borba:hover {
        background-color: #1e5e69;           
        cursor: pointer;
    }
    .divRed0, .divRed1, .divRed2, .divRed3, .divRed4, .divRed5, .divRed6, .divRed7, .divRed8 {
        width: 120px;
        height: 120px;
        border: 2px solid black;
        margin: 10px;
    }
    .divBlue0, .divBlue1, .divBlue2, .divBlue3, .divBlue4, .divBlue5, .divBlue6, .divBlue7, .divBlue8 {
        width: 120px;
        height: 120px;
        border: 2px solid black;
        margin: 10px;
    }
    .divRed0, .divRed1, .divRed2 {
        background: url(../images/infantry.jpg) no-repeat center;
        background-size: cover;
    }
    .divRed3, .divRed4, .divRed5 {
        background: url(../images/aero.jpg) no-repeat center;
        background-size: cover;
    }
    .divRed6, .divRed7, .divRed8 {
        background: url(../images/navy.jpg) no-repeat center;
        background-size: cover;
    }  
    .divBlue0, .divBlue1, .divBlue2 {
        background: url(../images/infantry.jpg) no-repeat center;                  
        background-size: cover;
    }        
    .divBlue3, .divBlue4, .divBlue5 {
        background: url(../images/army.jpg) no-repeat center;
        background-size: cover;
    }  
    .divBlue6, .divBlue7, .divBlue8 {
        background: url(../images/navy1.jpg) no-repeat center;
        background-size: cover;
    }           
    .dead {
        background: url(../images/cross_it_out.png) no-repeat center;
        background-size: cover;
        width: 120px;
        height: 120px;
        border: 2px solid black;
        margin: 10px;
    }
    .bar {
        width: 120px;
        height: 5px;
        border: 2px solid black;   
        margin: 0 10px;         
    } 
      #winR, #winB, #tieGame {  
        font-size: 0px;     
        z-index: -1;     
        position: absolute;
        line-height: 900px; 
        width: 100%;
        text-align: center;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black; 
    } 
     #winB {
        color: blue;
        font-family: myFontWin;
    } 
     #winR {
        color: red;
        font-family: myFontWin;
    } 
    #tieGame {
        color: rgba(255, 238, 0, 0.801);
        font-family: myFontWin;
    } 
    @font-face {
        font-family: myFont;
        src: url('../font/Stellalumina.ttf')
    }
    @font-face {
        font-family: myFontWin;
        src: url('../font/Good Unicorn - TTF.ttf')
    }
    /* .divRednew1 {
        background: url(../images/target1.png) no-repeat center;        
        background-size: cover;
        width: 100%;
        height: 100%;
    } */